<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/new-note" method="POST">
      <input type="text" name="note" />
      <button type="submit">Add Note</button>
    </form>

    <ul>
      {{ #notes }}
      <li>{{ . }}</li>
      {{ /notes }}
    </ul>
  </body>
</html>
